<html>

<head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="/uploads/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

<style>

body{
	margin-top: 80px;
	
}

</style>

</head>

<body>
	<div id="blueimp-gallery" class="blueimp-gallery">
	    <div class="slides"></div>
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	</div>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light container">
	  <span class="navbar-brand mb-0 h1">Twitter</span>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/notification">
	        	Notifications <span class="badge badge-primary" id="notificationNum">0</span>
	        </a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          @{{handle}}
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="/{{current_user}}">My page</a>
	          <a class="dropdown-item" href="/settings">Settings</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="/logout">Log out</a>
	        </div>
	      </li>
	    </ul>
	  </div>

	  <form class="form-inline my-1 my-lg-0" action="http://localhost:5000/search" method="get">
		<input class="form-control mr-sm-2" name="q" type="primary" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
	  </form>

	</nav>
	<div class="container">
		<div class="row">
		    <div class="col-6 offset-3">

		    	<img id="photo_preview"  class="rounded mx-auto d-block img-thumbnail" src="{{data['photo_url']}}">
		    	
		    	<br>

		    	<form id="imageForum" action="javascript:submitForm();" method="post" enctype = "multipart/form-data">
				    <div>
				        <input type="file" id="file" name="file" />
				    </div>
				</form>

				<br>

		    	<form method = "POST">
		    		<input type="hidden" id="photo_url" name="photo_url" value="{{ data['photo_url'] }}">
		    		<div class="form-group">
					    <input type="full_name" name="full_name" class="form-control" id="full_name" placeholder="Enter full name" value="{{ data['full_name'] }}">
					</div>
					<div class="form-group">
					    <input type="text" name="email" class="form-control" id="email" placeholder="Enter email" value="{{ data['email'] }}">
					</div>
					<div class="form-group">
					    <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter phone" value = "{{ data['phone'] }}">
					</div>
					
					<button type="submit" class="btn btn-primary">Save changes</button>
		    	</form>

		    </div>
		</div>
		
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script>
	var last = 0;
	var files = [];
	function submitForm() {
        var formData = new FormData($('#imageForum')[0]);

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                	console.log(data);
					data = JSON.parse(data);
                	$("#photo_preview").attr("src", data["file_url"]);
                	$("#photo_url").val(data["file_url"]);
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
    }
    $(function(){
    	$("#file").change(submitForm);
    });
    </script>
</body>

</html>